.page{
  display: block;
  text-align: center;
  margin-top: 50px;
}

#title{
  font-size: 40px;
  margin-bottom: 50px;
}

.choices{
  margin-top: 50px;
}

.try{
  /* align-items: center; */
}

.answers{
  margin-top: 50px;
}

.history{
  margin-top: 50px;
}

.solution{
  margin-top:50px;
}

.red{
  background-color: #d50000;
  width: 40px;
  height: 40px;
  border: 3px solid black;
  border-radius: 50%;
  display:inline-block;
}

.purple{
  background-color: #ab47bc;
  width: 40px;
  height: 40px;
  border: 3px solid black;
  border-radius: 50%;
  display:inline-block;
}

.blue{
  background-color: #2962ff;
  width: 40px;
  height: 40px;
  border: 3px solid black;
  border-radius: 50%;
  display:inline-block;
}

.green{
  background-color: #4caf50;
  width: 40px;
  height: 40px;
  border: 3px solid black;
  border-radius: 50%;
  display:inline-block;
}

.yellow{
  background-color: #ffeb3b;
  width: 40px;
  height: 40px;
  border: 3px solid black;
  border-radius: 50%;
  display:inline-block;
}

.orange{
  background-color: #ff8f00;
  width: 40px;
  height: 40px;
  border: 3px solid black;
  border-radius: 50%;
  display:inline-block;
}

.reponse1{
  background-color: #cfd8dc;
  width: 40px;
  height: 40px;
  border: 3px solid black;
  border-radius: 50%;
  display:inline-block;
}
.reponse2{
  background-color: #cfd8dc;
  width: 40px;
  height: 40px;
  border: 3px solid black;
  border-radius: 50%;
  display:inline-block;
}
.reponse3{
  background-color: #cfd8dc;
  width: 40px;
  height: 40px;
  border: 3px solid black;
  border-radius: 50%;
  display:inline-block;
}
.reponse4{
  background-color: #cfd8dc;
  width: 40px;
  height: 40px;
  border: 3px solid black;
  border-radius: 50%;
  display:inline-block;
}
.sol1{
  background-color: #cfd8dc;
  width: 40px;
  height: 40px;
  border: 3px solid black;
  border-radius: 50%;
  display:inline-block;
}
.sol2{
  background-color: #cfd8dc;
  width: 40px;
  height: 40px;
  border: 3px solid black;
  border-radius: 50%;
  display:inline-block;
}
.sol3{
  background-color: #cfd8dc;
  width: 40px;
  height: 40px;
  border: 3px solid black;
  border-radius: 50%;
  display:inline-block;
}
.sol4{
  background-color: #cfd8dc;
  width: 40px;
  height: 40px;
  border: 3px solid black;
  border-radius: 50%;
  display:inline-block;
}
