body{
text-align: center;
font-family: 'Orbitron', sans-serif;
color: #fff;
background: linear-gradient(-45deg, #b0bec5, #4db6ac, #0277bd, #9575cd);
background-size: 400% 400%;
-webkit-animation: Gradient 10s ease infinite;
-moz-animation: Gradient 10s ease infinite;
animation: Gradient 10s ease infinite;

}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.affichage{
  text-align: center;
  font-size: 40px;
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}

.clic {
  margin-top: 50px;
  margin-bottom: 50px;
  width:inherit;
  height: 200px;
  border: 2px solid #ff1744;
  border-radius: 50%;
  font-size: 30px;
  font-family: 'Orbitron';
  background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}

.clic:hover{
  border: solid 3px #FFFF;
  box-shadow: 10px 10px 10px 10px #aaaaaa;
}

.multiplier{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 400px;
  height: 100px;
  font-size: 19px;
  font-family: 'Orbitron';
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  }

.bonus,.autoclic{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 200px;
  height: 200px;
  border: 2px solid #607d8b;
  border-radius: 50%;
  font-size: 19px;
  font-family: 'Orbitron';
  background-image: linear-gradient(to right, #c1c161 0%, #c1c161 0%, #d4d4b1 100%);
}
